<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
  <script type="module" crossorigin src="/assets/style.global-Bs0-qLj0.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/style-Cx-sMXTl.css">
  <link rel="stylesheet" crossorigin href="/assets/404-page-BDXCCSBJ.css">
</head>

<body>
    <h1 class="open-sans-500">404 - Not Found</h1>

</body>

</html>