<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=stadia_controller,history" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gebeta - Home</title>
</head>

<body>
    <div id="app">
        <div class="side-menu">
            <nav>
                <div class="logo-container">
                    <img src="./src/asset/Logo.svg" />
                </div>
                <div class="tab-container">
                    <a href="#home-sec" class="tab open-sans-300" id="home" @click="state.page='home'"><img
                            src="./src/asset/home-1.svg" /></a>
                    <a href="#search" class="tab open-sans-300" id="search" @click="state.page='search'"><img
                            src="./src/asset/search-1.svg" /></a>
                    <a href="#active-players" class="tab open-sans-300" id="game"
                        @click="state.page='active-players'"><img src="./src/asset/game-1.svg" /></a>
                    <a href="#active-tournaments" class="tab open-sans-300" id="hunter"
                        @click="state.page='active-tournaments'"><img src="./src/asset/hunter-1.svg" /></a>
                </div>
            </nav>
        </div>

        <div class="main-section" id="main-section">
            <div v-if="state.page === 'home'" class="section home-section">
                <div class="section-container welcome-container">
                    <div class="section-title ">
                        <img src="./src/asset/welcome-icon.svg" alt="welcome icon" srcset="">
                        <h1 class="open-sans-500">
                            Welcome back to Gebeta, {{ state.user.name }}!
                        </h1>
                    </div>
                    <div class="section-content profile-section-container">
                        <div class="avatar-container open-sans-300">
                            <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                        </div>
                        <div class="profile-description-container open-sans-300">
                            <!-- <ul> -->
                            <h2>
                                {{state.user.name}}
                            </h2>
                            <li>@{{state.user.username}}</li>
                            <!-- </ul> -->
                            <button class="btn" @click="viewProfile(state.user.id)">View Profile</button>
                        </div>
                    </div>
                </div>

                <div class="section-container histories-container">
                    <div class="history">
                        <div class="section-title ">
                            <img src="./src/asset/history-icon.svg" alt="welcome icon" srcset="">
                            <h3 class="open-sans-700">
                                Game History
                            </h3>
                        </div>
                        <div class="section-content game-history-container thin-scroll">
                            <div class=" game-history list-1 open-sans-300">
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 50</li>
                                            <li>Lost</li>
                                        </ul>
                                    </div>
                                </div>
                                vs
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 53</li>
                                            <li>Won</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="game-history list-1 open-sans-300">
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 50</li>
                                            <li>Lost</li>
                                        </ul>
                                    </div>
                                </div>
                                vs
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 53</li>
                                            <li>Won</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="game-history list-1 open-sans-300">
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 50</li>
                                            <li>Lost</li>
                                        </ul>
                                    </div>
                                </div>
                                vs
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 53</li>
                                            <li>Won</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="game-history list-1 open-sans-300">
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 50</li>
                                            <li>Lost</li>
                                        </ul>
                                    </div>
                                </div>
                                vs
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 53</li>
                                            <li>Won</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="game-history list-1 open-sans-300">
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 50</li>
                                            <li>Lost</li>
                                        </ul>
                                    </div>
                                </div>
                                vs
                                <div class="person">
                                    <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                                    <div class="info">
                                        <h4>John Doe</h4>
                                        <ul>
                                            <li>Score: 53</li>
                                            <li>Won</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="history">
                        <div class="section-title ">
                            <img src="./src/asset/history-icon.svg" alt="welcome icon" srcset="">
                            <h3 class="open-sans-700">
                                Tournament History
                            </h3>
                        </div>
                        <div class="section-content tournament-history-container thin-scroll">
                            <div class="tournament-history open-sans-300">
                                <div class="tournament list-1">
                                    <div class="info">
                                        <h4>DMU seasonal tournament</h4>
                                        <ul>
                                            <li><code>11/21/2024, 1:19:12 PM - 11/21/2024, 10:19:12 PM</code></li>
                                            <li>10 participants</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tournament-history open-sans-300">
                                <div class="tournament list-1">
                                    <div class="info">
                                        <h4>DMU seasonal tournament</h4>
                                        <ul>
                                            <li><code>11/21/2024, 1:19:12 PM - 11/21/2024, 10:19:12 PM</code></li>
                                            <li>10 participants</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament-history open-sans-300">
                                <div class="tournament list-1">
                                    <div class="info">
                                        <h4>DMU seasonal tournament</h4>
                                        <ul>
                                            <li><code>11/21/2024, 1:19:12 PM - 11/21/2024, 10:19:12 PM</code></li>
                                            <li>10 participants</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament-history open-sans-300">
                                <div class="tournament list-1">
                                    <div class="info">
                                        <h4>DMU seasonal tournament</h4>
                                        <ul>
                                            <li><code>11/21/2024, 1:19:12 PM - 11/21/2024, 10:19:12 PM</code></li>
                                            <li>10 participants</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="state.page === 'search'">
                {{"Search "}}
            </div>

            <div v-if="state.page === 'active-players'" class="section thin-scroll">
                <div class="section-container active-players">
                    <div class="section-title ">
                        <img src="./src/asset/online-icon.svg" alt="welcome icon" srcset="">
                        <h3 class="open-sans-500">
                            Active Players
                        </h3>
                    </div>

                    <div class="section-content active-players-container open-sans-300">
                        <p v-if="state.players.length === 0">No players were found.</p>
                        <div v-for="(activePlayer, index) in state.players" :key="index"
                            class="active-player-list list-1 open-sans-300">
                            <div class="avatar">
                                <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                            </div>
                            <div class="active-player-info">
                                <h2>{{activePlayer.name}}</h2>
                                <li>@{{activePlayer.username}}</li>
                                <li>{{activePlayer.isActive ? "Active" : "Inactive"}}</li>
                            </div>
                            <div class="call-to-action">
                                <button class="btn" @click="challengePlayer(activePlayer.id, $event)">Challenge</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="state.page === 'active-tournaments'" class="section">
                <div class="section-container active-tournaments">
                    <div class="section-title ">
                        <img src="./src/asset/tournaments.svg" alt="welcome icon" srcset="">
                        <h3 class="open-sans-500">
                            Active Tournaments
                        </h3>
                    </div>
                    <div class="section-content open-sans-300 active-tournaments-container thin-scroll">
                        <p v-if="state.tournaments.length === 0">No tournaments were found.</p>
                        <div v-for="(activeTournament, index) in state.tournaments" :key="index"
                            class="tournament list-1">
                            <div class="info">
                                <!-- Spring Championship  -->
                                <h4>{{activeTournament.name}}</h4>
                                <ul>
                                    <!-- 12/01/2024, 9:00 AM - 12/01/2024, 5:00 PM -->
                                    <li>
                                        <code>{{activeTournament.startTime}} - {{activeTournament.endTime}} </code>
                                    </li>
                                    <li>{{activeTournament.participantCount}} Participants</li>
                                </ul>
                            </div>
                            <div class="action">
                                <button class="btn">Watch</button> <button class="btn">Join</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="canv-container" v-if="state.page === 'game'">
                <div class="player-container">
                    <div class="avatar">
                        <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                    </div>
                    <div class="profile open-sans-500"
                        :class="{'profile-active' : state.user.id !== state.game.gameStatus.turn}">
                        <span>{{ (state.game.challengee.id === state.user.id) ? state.game.challenger.name :
                            state.game.challengee.name }}</span>
                        <span>{{(state.game.challengee.id === state.user.id) ? state.game.challenger.username :
                            state.game.challengee.username}}</span>
                    </div>
                </div>
                <canvas id="canv"></canvas>
                <div class="player-container">
                    <div class="avatar">
                        <img src="./src/asset/user-profile-avatar-icon.svg" alt="" srcset="">
                    </div>
                    <div class="profile open-sans-500"
                        :class="{'profile-active' : state.user.id === state.game.gameStatus.turn}">
                        <span>{{ (state.game.challengee.id === state.user.id) ? state.game.challengee.name :
                            state.game.challenger.name }}</span>
                        <span>{{(state.game.challengee.id === state.user.id) ? state.game.challengee.username :
                            state.game.challenger.username}}</span>
                    </div>
                </div>
                {{showGameView()}}
            </div>
        </div>


    </div>
    <script type="module" src="/src/home.ts"></script>
</body>

</html>