.load-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-screen-container .elm {
    display: flex;
    /* align-items: flex-end; */
    height: 2.5rem;
}

.load-screen-container .elm span {
    color: var(--accentColor);
    font-size: 1.5rem;
}

.load-screen-container .elm img {
    align-self: flex-end;
}