@import"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap";

:root {
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --accentColor: #633403;
    --disabledAccentColor: #866849;
    --errorColor: #c82d2d;
    --defaultBtnPadding: .5rem 1rem;
    --borderShadow: rgba(99, 53, 3, .25) 0px 6px 12px -2px, rgba(99, 53, 3, .3) 0px 3px 7px -3px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.open-sans-300 {
    font-family: Open Sans, serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.open-sans-400 {
    font-family: Open Sans, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.open-sans-500 {
    font-family: Open Sans, serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.open-sans-600 {
    font-family: Open Sans, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.open-sans-700 {
    font-family: Open Sans, serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.open-sans-800 {
    font-family: Open Sans, serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.btn-disabled,
.btn {
    background-color: var(--accentColor);
    color: var(--whiteColor);
    padding: var(--defaultBtnPadding);
    border-radius: .3rem;
    border: 2px solid var(--accentColor);
    cursor: pointer
}

.btn-disabled {
    background-color: var(--disabledAccentColor);
    border: 2px solid var(--disabledAccentColor)
}

.input-1 {
    padding: var(--defaultBtnPadding);
    border-radius: .3rem;
    border: 2px solid var(--accentColor)
}

.link-1 {
    color: var(--accentColor)
}

.warning-txt {
    color: var(--errorColor)
}

.warning-input {
    border: 2px solid var(--errorColor)
}